[Unit]
Description=KilnDrone Service

[Service]
Type=exec
WorkingDirectory=/home/pi/kilndrone
ExecStart=/home/pi/kilndrone/.kilndrone_venv/bin/python -u ./launch_kilnui.py
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
